.discover-list {
  column-count: 1;
  column-gap: 0.5em;
  margin: 0 0.5em;
}
.discover-thumb {
  display: inline-block;
  list-style: none;
  width: 100%;
  margin-bottom: 0.5em;
}

.discover-overview,
.discover-image img {
  width: 100%;
  display: block;
}

.discover-overview {
  position: relative;
  background-color: #FFF;
  color: #000;
  padding: 0.5em;
}
.discover-overview .movie-title {
  margin: 0;
}
@media screen and (min-width: 800px) {
  .discover-list {
  column-count: 2;
  }
}
@media screen and (min-width: 1024px) {
  .discover-list {
    column-count: 3;
  }
}
}