.movie-list {
  position: relative;
  column-count: 3;
  column-gap: 0;
  padding: 0;
}
.movie-thumb {
  break-inside: avoid;
  list-style: none;
  column-count: 1;
  position: relative;
  transform: translate3d(0,0,0);
}
.movie-thumb img {
  width: 100%;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -60px;
  top: 30px;
  transform: translate3d(-50%, -50%, 0);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  z-index: 99;
}
.heart.faved {
  background-position: -2800px 0;
  animation: fave-heart 1s steps(28);
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
